{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 top-div" style="margin-top:40px;">
      <h1>Health Services</h1>
      <p>Tenwek Hospital<br>Contact: 0733129129<br>Adress: Bomet Town</p>
    </div>
  </div>
  <div class="row">
    {% for health in healths %}
    <div class="col-md-6">
      <div class="card" style="width: 25rem;margin-top:10px;">
        <div class="card-body">
          <h3 class="card-title" data-toggle="modal" data-target="#{{health.id}}">{{health.name}}</h3>
          <p><span class="bold">Phone Number:</span> {{health.contact}}</p>
          <p><span class="bold">Address:</span> {{health.address}}</p>
          <p><span class="bold">Email:</span> {{health.email}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}