{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 top-div" style="margin-top:40px;"></div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a href="{% url 'health'%}">
      <div class="card" style="width: 22.5rem;height:15rem;">
        <img class="card-img-top dark" src="{% static 'img/health.jpg'%}" style="width:34rem;height:28rem;">
        <div class="centered">
          <h4 style="color:white; font-size:30px;">Health Services</h4>
        </div>
      </div>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <a href="{% url 'authorities'%}">
      <div class="card" style="width: 22.5rem;height:15rem;">
        <img class="card-img-top dark" src="{% static 'img/police.jpg'%}" style="width:34rem;height:28rem;">
        <div class="centered">
          <h4 style="color:white; font-size:30px;">Authorities</h4>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>

{% endblock %}