{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="background-image:url('https://media.istockphoto.com/photos/dark-black-and-blue-grungy-wall-background-for-display-or-montage-of-picture-id1150477705?k=6&m=1150477705&s=612x612&w=0&h=q0f-napJKrSFE3ETwopLe6ETDRXk50zv7hctci_-j4A='); height:49.7rem">
  <div class="row mt-5">
    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
      <a href="{% url 'health'%}">
      <div class="card" style="width: 30rem;height:22rem;">
        <img class="card-img-top dark" src="{% static 'img/health.jpg'%}" style="width:34rem;height:28rem;">
        <div class="centered">
          <h4 style="color:white; font-size:30px;">Health Services</h4>
        </div>
      </div>
      </a>
    </div>
    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
      <a href="{% url 'authorities'%}">
      <div class="card" style="width: 30rem;height:22rem;">
        <img class="card-img-top dark" src="{% static 'img/police.jpg'%}" style="width:34rem;height:28rem;">
        <div class="centered">
          <h4 style="color:white; font-size:30px;">Authorities</h4>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>

<style>
  .dark{
    filter: brightness(85%);
  }
  .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .card {
    position: relative;
    border: 1px solid #333;
    margin: 2%;
    overflow: hidden;
    width: 540px;
  }
  .card img {
    max-width: 100%;
  
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .card:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: brightness(50%);
  
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  
  }
  
  </style>
  {% endblock %}
  

