{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 top-div" style="margin-top:40px;"></div>
  </div>

  <div class="text-center">
    <a href="#" >
        <button class="btn btn-primary" style="height:50px;  margin-top: -6px;">Post an Update</button>
    </a>
  </div>

  <div class="row">
  {% for blog in posts %}
  <div class="col-md-6">
  <div class="card" style="width: 30rem;margin-top:10px;">
  <div class="card-body">
    <a href="/view/post/{{post.id}}" style="color:black;text-decoration:none;margin:auto;">
      <h5 class="card-title">{{post.title}}</h5>
    </a>
    <a href="/user/{{post.username}}" style="color:black;text-decoration:none;margin:auto;">
      <h6 class="card-subtitle mb-2 text-muted">{{post.username}}</h6>
    </a>
    <p class="card-text">{{post.post|truncatechars:150 | safe}}</p>
    <a href="/view/post/{{post.id}}" class="card-link">Continue reading</a>
  </div>
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}