{% extends "registration/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container" style="background-image:url('https://media.istockphoto.com/photos/dark-black-and-blue-grungy-wall-background-for-display-or-montage-of-picture-id1150477705?k=6&m=1150477705&s=612x612&w=0&h=q0f-napJKrSFE3ETwopLe6ETDRXk50zv7hctci_-j4A='); height:49.7rem">
    <div class="row" style="color:whitesmoke">
        <div class="col-md-4 phone-section">
        </div>
        <div class="col-md-4 form-section">
            {{form.media}}
            {% if form.errors %}
            <p>Please enter correct value</p>
            {% endif %}
            <div class="panel panel-default" style="margin-top:20px;">
                <div class="panel-body">
                    <div class="text-center">
                        <form action="{% url 'new-post' %}" method="post" enctype="multipart/form-data">

                            {% csrf_token%}
                            {% bootstrap_form form %}

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary login-button" value="Post">
                            </div>
                            <input type="hidden" name="next" value="/">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock %}