{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class="container">
  <div class="row top">
    <div class="col-md-12"></div>
  </div>

<div class="text-center">
  <div class="user-image">
    <img src="{{profile.avatar.url}}" class="gallery-image" alt=""  width=30 height=30>
  </div>
  <p style="font-size: 22px; font-weight:bold;margin:auto; padding:2px;">{{profile.username}}</p>
  <p class="card-text" style="font-size:20px;font-weight:bold;">{{profile.description |safe}}</p>
  <p class="card-text" style="font-size:18px;color:white;font-weight:bold;">Email: {{profile.email}}</p>

</div>

</div>
{% endblock %}