{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style="background-image:url('https://image.freepik.com/free-photo/dark-blue-product-background_53876-92801.jpg'); height:49.7rem; color:whitesmoke">
  <div class="row"> <br><br>
    <div class="col-md-12"></div>
  </div>
  <div class="text-center">
    <div class="user-image">
      <img src="{{profile.avatar.url}}" class="gallery-image" alt="" width=150 height=150 style="border-radius:50%">
    </div>
    <p style="font-size: 22px; font-weight:bold;margin:auto; padding:2px;">{{profile.username}}</p>
    <p class="card-text" style="font-size:20px;font-weight:bold;">{{profile.description |safe}}</p>
    <p class="card-text" style="font-size:18px;color:white;font-weight:bold;">Email: {{profile.email}}</p>

  </div>

</div>
{% endblock %}